// Colors

$dark-blue: #1d3557;
$med-blue: #457b9d;
$light-blue: #a8dadc;
$off-white: #f1faee;
$soft-red: #e63946;
$white: white;
$black: black;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;